*{
    
    font-family: 'Montserrat';
}

.products{
    position: relative;
    padding: 50px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.015em;
    color: #2C2C2C;
    &__position{
        display: flex;
        flex-direction: row;
        gap: 15px;
        position: relative;
    }

    &__all{
        display: flex;
        flex-direction: row;
    }

    li.default{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 115px;
        background: #F9F9F9;
        border-radius: 30px;
        background-size: 100px;
        cursor: pointer;
        padding-left: 20px;
        padding-right: 20px;
    }
    

    
     
    
    
}
.line{
    height: 1px;
    background-color: #f7f7f7;
    position: relative;
    bottom: 50px;
}


  

  .active{
    cursor: pointer;
    transition: .5s all ease-in;
    background: #282828;
    color: #fff;
    margin-right: 150px;
    border-radius: 30px;
    height: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}