.pizza__block{
    display: flex;
    flex-direction: row;
    gap: 100px;
    justify-content: center;
    margin-top: 50px;




    &Description{
        max-width: 450px;

    }

    &Right{
        border: 1px solid #fff;
        height: 100%;
        border-radius: 5%;
        display: flex;
        margin-top: 40px;
        flex-direction: column;
        gap: 30px;
        margin-top: 150px;
        margin-left: 10px;

    }
}
