.cart{
    margin-top: 200px;
    
    &__head{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        &Title{
            font-style: normal;
            font-weight: 700;
            font-size: 30px;
            line-height: 39px;
            letter-spacing: 0.01em;
            color: #000000;
        }

       
    }
    &__trashTitle{
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #B6B6B6;
    }


    &__card{
        margin-left: 420px;
        margin-top: 80px;
        display: flex;
        flex-direction: row;
        gap: 200px;


      

   }
   &__footer{
    padding-top: 100px;
    max-width: 1400px;
    margin: 0 auto;

}

&__end{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 70px;
    font-size: 22px;
}

span{
    color: #FE5F1E;
    font-weight: 700;
}

b{
    margin-left: 10px;
}

&__buttons{
    display: flex;
    justify-content: space-between;
 &Two{
    background: #FE5F1E;
    border-radius: 30px;
    width: 211px;
    height: 55px;
    color: #fff;
    border-color: #FE5F1E;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
 }
 &One{
    border: 1px solid #D3D3D3;
    border-radius: 30px;
    width: 211px;
    height: 55px;
    color: #CACACA;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
 }
}

}
.leftSide{
    margin-left: 420px;
    display: flex;
    flex-direction: row;
    gap: 40px;

    img{
        height: 30px;
        width: 30px;
        cursor: pointer;
    }
}

.rightSide{
    margin-top: 10px;
    margin-right: 420px;
    display: flex;
    flex-direction: row;
    gap: 20px;

    img{
        height: 20px;
        width: 20px;
        cursor: pointer;
    }
}

.forLine{
    height: 1px;
    background: #f4f4f4;
    width: 1020px;
    margin-top: 40px;
    margin-left: 460px;
}


.empty{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;


    &__title{
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 39px;
        letter-spacing: 0.01em;
        color: #000000;
    }

    &__subtitle{
        font-family: 'Proxima Nova';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 145.4%;
        text-align: center;
        letter-spacing: 0.01em;
        color: #777777;
        margin-bottom: 30px;
        
    }
}