.forCard{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-gap: 100px;
    @media (max-width: 1550px){
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 50px;
   }
   
   @media (max-width: 940px){
    display: flex;
    flex-direction: column;
    margin-left: 100px;

    gap: 50px;
 }
  }

.home{
    position: relative;
  &__text{
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    letter-spacing: 0.01em;
    color: #000000;
    padding-top: 40px;
    text-align: left;
    margin-bottom: 40px;   
    margin-left: 50px;

}
&__sort{
    position: absolute;
    right: 25px;
    top: 20px;
}
}