.card{
    margin-left: 80px;
    @media (max-width: 1550px){
        display: grid;
        grid-template-columns: repeat(2, 1fr);
     }
    &__description{
        margin-left: 25px;

    }
    
    &__title{
        font-style: normal;
        font-weight: 800;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: 0.01em;
        color: #000000;
        margin-top: 10px;
        margin-bottom: 22px;
        display: flex;
        justify-content: center;
        text-align: center;
    }

    &__dough{
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 0.015em;
        color: #2C2C2C;
        display: flex;
        flex-direction: row;
        margin-left: -30px;
        gap: 30px;
        &Thick{
            &:hover{
                background-color: #FFFFFF;
                
            }
        }
    }

    &__size{

        margin-top: 50px;
        display: flex;
        gap: 30px;
        flex-direction: row;
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 0.015em;
        color: #2C2C2C;
        justify-content: start;
        align-items: center;
    }

    &__price{
        font-style: normal;
        font-weight: 700;
        font-size: 22px;
        line-height: 27px;
        letter-spacing: 0.015em;
        color: #000000;
        margin-top: 25px;
        text-align: left;
    }

    &__forRow{
        display: flex;
        flex-direction: row;
        gap: 20px;

    }

    &__button{
        background: #FFFFFF;
        border: 1px solid #EB5A1E;
        border-radius: 30px;
        display: flex;
        width: 160px;
        height: 40px;
        gap: 15px;
        justify-content: center;
        align-items: center;
        margin-top: 22px;
        cursor: pointer;
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
        color: #EB5A1E;
        &:hover{
            color: #FFFFFF;
            border: 1px solid #EB5A1E;
            background: #EB5A1E;
            transition: .5s all ease-in;
            path{
                fill: #FFFFFF;
                transition: .5s all ease-in-out;
            }
        }

    }

    &__board{
        position: relative;
        right: 0px;
        background: #d6d6d6;
        border-radius: 10px;
        width: 280px;
        height: 50px;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        li:nth-child(2) {
                position: absolute;
                right: 15px;
                display: flex;
                justify-content: end;
            }
        
            li:nth-child(3) {
                position: absolute;
                left: 115px;

            }
        
            li:nth-child(1) {
                position: absolute;
                display: flex;
                left: 15px;
                align-items: center;
            }


    }

    &__pizzaSize{
        width: 260px;
        height: 260px;
        display: flex;
        margin-left: 35px;
    }
  
}

  li.active {
      background-color: #ffffff;
      border-radius: 8px;
      transition: .5s all ease;
      width: 50px;
      height: 40px;
      display: flex;
      align-items: center;
    
}




span{
    margin-left: 5px;
}

.active__dough{
    background-color: #ffffff;
    border: 1px solid #fff;
    text-align: center;
    border-radius: 8px;
    transition: .5s all ease;
    border-width: 5px;
}

