.card{
    font-size: 18px;
    margin-top: 60px;
    display: grid;
    grid-gap: 50px;
    grid-template-columns: (repeat(5, 1fr));
    margin-left: 270px;
    &__img{
        display: flex;
        position: relative;
        top: -20px;
        width: 80px;
        height: 80px;

    }
}

.plus{
    margin-left: 20px;
    font-size: 20px;
    border: 2px solid #FE5F1E;
    border-radius: 20px;
    padding-left: 6px;
    padding-right: 6px;
    cursor: pointer;
}

.minus{
    margin-right: 20px;
    cursor: pointer;
    font-size: 20px;
    border: 2px solid #FE5F1E;
    border-radius: 20px;
    padding-left: 8px;
    padding-right: 8px;
    &Dis{
        margin-right: 20px;
        cursor: pointer;
        font-size: 20px;
        border: 2px solid #979492;  
        border-radius: 20px;
        padding-left: 8px;
        padding-right: 8px;
        color: #979492;
        &:hover{ 
            background-color: white;
            color: #979492;
        }
    }
}

span:hover{
    background-color:  #FE5F1E;
    color: white;
    transition: .5s all ease;
}

p{
    margin-left: 15px;
    
}