.sort{ 
    position: absolute;
    right: 110px;
    top: 85px;
    @media (max-width: 1800px){
        right: 5px;
     }
     @media (max-width: 1280px){
        position: relative;
        left: 350px;
        top: 70px;
     }

    @media (max-width: 1550px) {
        right: 155px;
    }
    &__label{
        display: flex;
        cursor: pointer;
        flex-direction: row;
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 0.015em;
        color: #2C2C2C;
        position: relative;
        &Word{
            margin-left: 15px;
        }
    }

    &__popup{
        display: flex;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 0.015em;
        color: #000000;
        justify-content: end;
        @media (max-width: 1280px){
            position: absolute;
            left: 0px;
            top: 0px;
         }
        
    
    }
    li{
        list-style-type: none;
        margin-top: 10px;
        margin-right: 20px;
        height: 20px;
        position: relative;
        right: 35px;
        cursor: pointer;
        &:hover{
            background: rgba(254, 95, 30, 0.05); 
            border-radius: 10px;
        }
    }

    ul{
        background: #FFFFFF;
        box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.09);
        border-radius: 10px;
        transition: .5s all ease-in-out;
    }

    .active{
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 0.015em;
        color: #FE5F1E;
        background: rgba(254, 95, 30, 0.05); 
        background-size: contain;  
    }

    span{
        margin-left: 20px;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 0.015em;    
        color: #FE5F1E;
        text-decoration: underline;

    }
}